force-app/main/default/flows/Cancellation_Emails_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Final Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Final_Cancellation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Final_Cancellation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A2</name>
        <label>Cancellation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Cancellation_Received</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Cancellation_Received</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A3</name>
        <label>Cancel Inventory Feed Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Cancel_Inventory_Feed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Cancel_Inventory_Feed</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the Cancellation Emails process using Send Email button clicked criteria.</description>
    <formulas>
        <name>formula_1_myRule_1_A4_0326651046</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <label>Cancellation Emails_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A4</name>
        <label>Update Email Sent Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Cancellation_Email_Sent_Date__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A4_0326651046</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Cancellation_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Cancellation_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
