force-app/main/default/flows/Create_Case_for_Pacing_Report_RT_Volvo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_1_Assignment</name>
        <label>Case 1 Assignment</label>
        <locationX>404</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Case1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pacing Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ensure alignment between budgets in Pacing Report Sheets</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_2_Assignment_0</name>
        <label>Case 2 Assignment</label>
        <locationX>651</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>Case2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pacing Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Campaign Budgets to Pace</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Day</name>
        <label>Check the Day</label>
        <locationX>532</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_1_Assignment</targetReference>
            </connector>
            <label>Is First</label>
        </rules>
        <rules>
            <name>Is_Monday_or_Friday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISMONDAY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISFRIDAY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_2_Assignment_0</targetReference>
            </connector>
            <label>Is Monday or Friday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>Description1</name>
        <dataType>String</dataType>
        <expression>&quot;Audit the Monthly sheet and the &apos;Pacing&apos; Sheet and ensure each campaign for each retailer is consistent in the budget reported in each sheet as well as confirm the Budget totals match across sheets. For example, &apos;Volvo Cars Lisle&apos; in the &apos;Volvo Boost Pacing&apos; sheet should have a $250 budget for the Branded Segment campaign if the budget in the &apos;Monthly sheet&apos; for that campaign is $250 :https://docs.google.com/spreadsheets/u/0/d/1Vd1XqHtTpk3WzonxIVrLr4FmTEJOIqCYpeApvgpV8sI/edit&quot;</expression>
    </formulas>
    <formulas>
        <name>Description2</name>
        <dataType>String</dataType>
        <expression>&quot;Review the Pacing Report to identify campaigns under and over pacing. Adjust daily budgets as needed, and review reasons for campaigns that are underpacing. Adjust campaigns/conversion tracking as needed to improve delivery : https://docs.google.com/spreadsheets/d/1oIFGt_w3IYWQgya2_Bz4RNCWRRM8qSD_0nirjfA_sIE/edit#gid=526235077&quot;</expression>
    </formulas>
    <formulas>
        <name>IsFirstOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>ISFRIDAY</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY(TODAY()) = 6</expression>
    </formulas>
    <formulas>
        <description>Is it Monday today ?</description>
        <name>ISMONDAY</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY(TODAY()) = 2</expression>
    </formulas>
    <formulas>
        <name>TUESDAY</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Create Case for Pacing Report RT : Volvo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Pacing Report RT : Volvo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>404</locationX>
        <locationY>732</locationY>
        <inputReference>CaseListToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_the_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volvo Digital Advertising Program (corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-30</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
