force-app/main/default/flows/Create_a_case_for_WER_Alert_Monitoring_request_type_Volvo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Monday</name>
        <label>Check if Monday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Monday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMonday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case</targetReference>
            </connector>
            <label>Is Monday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountTechnicianRoleId</name>
        <dataType>String</dataType>
        <expression>&quot;2F00E4W000001dM1Z&quot;</expression>
    </formulas>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 22</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&quot;Keep up with weekly/daily alerts and investigate/solve when needed. Alert Documentation: https://docs.google.com/document/d/1L3RHxQrS6zxUSYrLhuKoFQsMrNGZNc6nPd8BAjRuau0/edit &quot;</expression>
    </formulas>
    <formulas>
        <description>Every monday</description>
        <name>IsMonday</name>
        <dataType>Boolean</dataType>
        <expression>MOD(TODAY() - DATE(1900, 1, 1), 7) == 1</expression>
    </formulas>
    <formulas>
        <name>OEMProgramManagerRoleId</name>
        <dataType>String</dataType>
        <expression>&quot;2F00E4W000001F9mg&quot;</expression>
    </formulas>
    <interviewLabel>Create a case for WER Alert Monitoring request type: Volvo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case for WER Alert Monitoring request type: Volvo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>WER Alert Monitoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Monitor WER Alerts </stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Monday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volvo Digital Advertising Program (corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-08</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
