force-app/main/default/flows/Create_a_case_GTM_Not_On_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_GTM_on_Site_account_type</name>
        <label>Check GTM on Site &amp; account type</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Digital_Ad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTM_on_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Measurement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case_Digital_Ad</targetReference>
            </connector>
            <label>If Digital Ad</label>
        </rules>
        <rules>
            <name>If_BI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTM_on_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Intelligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Measurement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case_BI</targetReference>
            </connector>
            <label>If BI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkifwebsiteverifiedand8hourspass</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    TEXT({!$Record.Website_Verified__c}) = &quot;Verified&quot;,
    ISBLANK({!$Record.GTM_API_ID__c}),
    NOW() - {!$Record.LastModifiedDate} &gt;= (8 / 24)
)</expression>
    </formulas>
    <formulas>
        <name>gtmapiidisblank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.GTM_API_ID__c})</expression>
    </formulas>
    <formulas>
        <name>gtmonsiteisblank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.GTM_on_Site__c})</expression>
    </formulas>
    <formulas>
        <description>URL not empty</description>
        <name>URLisnotempty</name>
        <dataType>String</dataType>
        <expression>&quot;ISBLANK($Record.Account_Website_URL__c)&quot;</expression>
    </formulas>
    <interviewLabel>Create a case - GTM Not On Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case - GTM Not On Site (Measurement)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case_BI</name>
        <label>Create a case-BI</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <elementReference>Get_role_records_BI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>It has been more than 3 business days since the GTM was sent to the provider to be placed on the site.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AKAoIAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>GTM Not On Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GTM Not on Site Yet</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_case_Digital_Ad</name>
        <label>Create a case-Digital Ad</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <elementReference>Get_role_records_Digital_ad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>It has been more than 3 business days since the GTM was sent to the provider to be placed on the site.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AKAoIAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>GTM Not On Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GTM Not on Site Yet</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_role_records_BI</name>
        <label>Get role records- BI</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_GTM_on_Site_account_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00ENx000002poWJMAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_role_records_Digital_ad</name>
        <label>Get role records- Digital ad</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_role_records_BI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E4W000001dM1eUAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GTM_Sent_to__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Measurement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>check_after_3_days</name>
            <connector>
                <targetReference>Get_role_records_Digital_ad</targetReference>
            </connector>
            <label>check after 3 days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>descriptionforcase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 9pt; color: rgb(0, 0, 0);&quot;&gt;It has been more than 3 business days since the GTM was sent to the provider to be placed on the site.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
