force-app/main/default/flows/Create_a_case_for_Ad_Account_Name_Audit_Request_type_Acura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X25_of_the_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datechecking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case</targetReference>
            </connector>
            <label>25 of the Month?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 25</expression>
    </formulas>
    <interviewLabel>Create a case for Accounting Invoice Request type: Acura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case for Ad Account Name Audit Request type: Acura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <stringValue>0054W00000G7XQrQAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054W00000CyYbgQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Ad Account Name Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Acura Monthly Account Naming Audit</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acura Digital Advertising Program (corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-20</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Desc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 9pt;&quot;&gt;Audit and ensure all newly launched Acura accounts have the correct naming conventions for their Google, Bing, and Meta Ad Account names - linked &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1PBYOp-UAdrV4mCtJo9FoCViR4kr_7Wv5L1qpVjE6zsc/edit?tab=t.0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Roboto, Arial; color: rgb(17, 85, 204); font-size: 9pt;&quot;&gt;&lt;u&gt;here&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
