force-app/main/default/flows/Create_a_case_GA4_Build_is_Not_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_GA4_Build_Complete</name>
        <label>Check GA4 Build Complete</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GA4_Build_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Measurement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case</targetReference>
            </connector>
            <label>If Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkifwebsiteverifiedand8hourspass</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    TEXT({!$Record.Website_Verified__c}) = &quot;Verified&quot;,
    ISBLANK({!$Record.GTM_API_ID__c}),
    NOW() - {!$Record.LastModifiedDate} &gt;= (8 / 24)
)</expression>
    </formulas>
    <formulas>
        <name>gtmapiidisblank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.GTM_API_ID__c})</expression>
    </formulas>
    <formulas>
        <name>gtmonsiteisblank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.GTM_on_Site__c})</expression>
    </formulas>
    <formulas>
        <description>URL not empty</description>
        <name>URLisnotempty</name>
        <dataType>String</dataType>
        <expression>&quot;ISBLANK($Record.Account_Website_URL__c)&quot;</expression>
    </formulas>
    <interviewLabel>Create a case - GA4 Build is Not Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case - GA4 Build is Not Complete (Measurement)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <stringValue>005Nx000000YScz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>It has been more than 14 business days since the GTM has been on site.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_role_record_Measurement_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AKAoIAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>GA4 Build Is Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Required: GA4 Build is Not Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_role_record_Measurement_Lead</name>
        <label>Get role record-Measurement Lead</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_GA4_Build_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00ENx000002WvwTMAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GTM_on_Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Measurement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>check_after_10_days</name>
            <connector>
                <targetReference>Get_role_record_Measurement_Lead</targetReference>
            </connector>
            <label>check after 10 days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>descriptionforcase</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 9pt; font-family: Arial;&quot;&gt;It has been more than 14 business days since the GTM has been on site.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
