force-app/main/default/flows/Create_Cases_for_New_Regional_Offers_Update_RT_Confirm_Video_Volvo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_1_Assignment</name>
        <label>Case 1 Assignment</label>
        <locationX>92</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>Case1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove Offers from PMax Campaigns</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_2_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_2_Assignment_0</name>
        <label>Case 2 Assignment</label>
        <locationX>92</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Case2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Volvo pMax Search Assets with New Regional Offers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_3_Assignment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_3_Assignment_0_0</name>
        <label>Case 3 Assignment</label>
        <locationX>226</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>Case3.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm Video Offer Campaigns are paused</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_4_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_4_Assignment</name>
        <label>Case 4 Assignment</label>
        <locationX>418</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>Case4.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case4.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Collect Monthly Volvo Offers from Client with Attached Offers sheet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_5_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_5_Assignment</name>
        <label>Case 5 Assignment</label>
        <locationX>545</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>Case5.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case5.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove Offers from Search Campaigns</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_6_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_6_Assignment</name>
        <label>Case 6 Assignment</label>
        <locationX>685</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>Case6.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Regional Offers Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case6.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Search Campaigns with New Regional Offers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_CaseList_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>347</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_1_Assignment</targetReference>
            </connector>
            <label>Outcome 1 of Check date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>Description1</name>
        <dataType>String</dataType>
        <expression>&quot;Confirm that Video Offer campaigns are paused and not delivering.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description2</name>
        <dataType>String</dataType>
        <expression>&quot;Remove any offer language (lease offers or APRs) from Search Assets in pMax Campaigns&quot;</expression>
    </formulas>
    <formulas>
        <name>Description3</name>
        <dataType>String</dataType>
        <expression>&quot;Using new Regional offers, ensure pMax Search assets are updated accordingly : https://drive.google.com/file/d/1ArPnNsvoMuJshrxzJNsF65A9ZmBjG5vH/view?usp=sharing&quot;</expression>
    </formulas>
    <formulas>
        <name>Description4</name>
        <dataType>String</dataType>
        <expression>&quot;Collect new Regional offers from client and ask clarifying quesions as needed (offer type, etc.). Use this sheet to confirm which offers the client wants to use for which models/regions: https://docs.google.com/spreadsheets/d/1csbqI3ByYstIYmJgbrPssSl_wmpPeetUZE5u2Qgx7Ao/edit?usp=sharing&quot;</expression>
    </formulas>
    <formulas>
        <name>Description5</name>
        <dataType>String</dataType>
        <expression>&quot;During the first few days of the month, remove offer language from relevant Search Campaigns&quot;</expression>
    </formulas>
    <formulas>
        <name>Description6</name>
        <dataType>String</dataType>
        <expression>&quot;Update Search &amp; pMax Ads with new Regional offers based on the current month&apos;s offers : https://drive.google.com/file/d/1ArPnNsvoMuJshrxzJNsF65A9ZmBjG5vH/view?usp=sharing&quot;</expression>
    </formulas>
    <formulas>
        <name>FifthOfMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <formulas>
        <name>IsFirstOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>secondOfMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Create Cases for New Regional Offers Update RT- Confirm Video: Volvo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cases for New Regional Offers Update RT- Confirm Video: Volvo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_CaseList_Created</name>
        <label>Insert CaseList Created</label>
        <locationX>851</locationX>
        <locationY>504</locationY>
        <inputReference>CaseListToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volvo Digital Advertising Program (corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-01</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
