force-app/main/default/flows/Create_a_case_for_Monthly_Enrollment_Audit_request_type_Hyundai.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_25th_of_the_month</name>
        <label>Check if 25th of the month</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_month_25</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>datechecking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case</targetReference>
            </connector>
            <label>Date of month 25</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 25</expression>
    </formulas>
    <interviewLabel>Create a case for Hyundai CoOp request type: Hyundai {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case for Monthly Enrollment Audit request type: Hyundai</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <stringValue>0054W00000G7XQrQAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054W00000CyYbgQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Monthly Enrollment Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Monthly Program Enrollment Tracking &amp; SF Audits</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_25th_of_the_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hyundai Alliance Program (Corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-20</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Desc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 10pt;&quot;&gt;Pull &lt;/span&gt;&lt;a href=&quot;https://foundationdirect.lightning.force.com/lightning/r/Report/00ONx000000fmrtMAA/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Roboto, Arial; color: rgb(17, 85, 204); font-size: 10pt;&quot;&gt;&lt;u&gt;Live Hyundai - Program Type Audit&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 10pt;&quot;&gt; from SF. Audit OEM Program Type to ensure ALL Hyundai Dealers are marked with &quot;Hyundai Alliance Program&quot; and if it is &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1869qLtH5XfT39IAX8_etB0NbirJ4w5Ft0T_yv643VIs/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Roboto, Arial; color: rgb(17, 85, 204); font-size: 10pt;&quot;&gt;&lt;u&gt;boost dealer &lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 10pt;&quot;&gt;marked with &quot;2024 Boost Program.&quot; More details in &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/u/0/d/1aQX65zAp3i6GOKxXoCoPrRyW1FTEQ5A34JpepX94BEU/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Roboto, Arial; color: rgb(17, 85, 204); font-size: 10pt;&quot;&gt;&lt;u&gt;Program Enrollment Tracking Doc&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 10pt;&quot;&gt;. Video Training linked &lt;/span&gt;&lt;a href=&quot;https://drive.google.com/file/d/1ROzSWww_JZ9HBHc7DbLkAH5BQGCr1Ngq/view?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Roboto, Arial; color: rgb(17, 85, 204); font-size: 10pt;&quot;&gt;&lt;u&gt;here&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-family: Roboto, Arial; color: rgb(0, 0, 0); font-size: 10pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
