force-app/main/default/flows/Create_a_case_for_Share_Hyundai_and_Genesis_Monthly_Dealer_List_request_type_Hyu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_business_day_of_the_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>datechecking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case</targetReference>
            </connector>
            <label>Last business day of the month?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() = 
IF(
  WEEKDAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1) = 7, 
  DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 3,   /* Saturday → Friday */
  IF(
    WEEKDAY(DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1) = 1,
    DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 2, /* Sunday → Friday */
    DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1  /* Else: keep */
  )
)</expression>
    </formulas>
    <interviewLabel>Create a case for QBR request type: Hyundai {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case for Share Hyundai and Genesis Monthly Dealer List request type: Hyundai</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <stringValue>0054W00000G7XQrQAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054W00000CyYbgQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Share Hyundai and Genesis Monthly Dealer List</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Hyundai and Genesis Monthly Dealer List</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hyundai Alliance Program (Corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-20</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Desc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; color: rgb(0, 0, 0); font-family: Arial;&quot;&gt;Share latest Hyundai and Genesis Monthly Dealer List File sent by Elizabeth with Ashlyn/Daniella and Sales Team. (Just as we do for Subaru) V&lt;/span&gt;&lt;a href=&quot;https://drive.google.com/file/d/1S0mfKVmHR7YO3ikuTo4vQwp0bzvpNNOc/view?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; color: rgb(17, 85, 204); font-family: Arial;&quot;&gt;&lt;u&gt;ideo Training&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
