force-app/main/default/flows/Create_a_case_7_days_prior_to_onboarding_s_planned_Analysis_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_product_type_of_related_opp</name>
        <label>Check for product type of related opp</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NCM_Intelligence_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCM Digital Intelligence Scorecard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case_for_NCM_Intelligence_Scorecard_Kickoff</targetReference>
            </connector>
            <label>If NCM Intelligence Scorecard</label>
        </rules>
        <rules>
            <name>If_BI_related_product_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Auto Group Dashboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Enterprise Dashboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Single Rooftop Dashboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_case_for_Business_Intelligence_Kickoff</targetReference>
            </connector>
            <label>If BI related product type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_planned_analysis_date</name>
        <label>Check planned analysis date</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_today_Planned_analysis_date_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Plannedanalysisdateminus7days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_role_records_VP_of_BI</targetReference>
            </connector>
            <label>If today = Planned analysis date- 7 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Caseasignedto</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account__r.NCM_Strategic_Account_Manager__r.Id}), {!Get_role_records_VP_of_BI.Id}, {!$Record.Account__r.NCM_Strategic_Account_Manager__r.Id})</expression>
    </formulas>
    <formulas>
        <name>Plannedanalysisdateminus7days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Analysis_Date__c} - 7</expression>
    </formulas>
    <interviewLabel>Create a case for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a case 7 days prior to onboarding&apos;s planned Analysis date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case_for_Business_Intelligence_Kickoff</name>
        <label>Create a case for Business Intelligence Kickoff</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <elementReference>Caseasignedto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>1. Review Data 2. Email Client to confirm Launch Call 3. Message Riley to begin billing on the 1st or 15th of the month 4. Client uses &quot;Book a Consult&quot; moving forward</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_role_records_VP_of_BI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx000002jCaAIAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Business Intelligence Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Data for Business Intelligence Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_case_for_NCM_Intelligence_Scorecard_Kickoff</name>
        <label>Create a case for NCM Intelligence Scorecard Kickoff</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Assign_To__c</field>
            <value>
                <elementReference>Caseasignedto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>1. Review Data 2. Email Client to confirm Launch Call 3. Message Riley to begin billing on the 1st or 15th of the month 4. Schedule recurring meeting cadence with Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_role_records_VP_of_BI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nx0000030jD7IAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>NCM Intelligence Scorecard Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Data for NCM Intelligence Scorecard Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_role_records_VP_of_BI</name>
        <label>Get role records-VP of BI</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_product_type_of_related_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00ENx000001Mw9dMAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_planned_analysis_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Planned_Analysis_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-07</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
