force-app/main/default/flows/Create_Cases_for_WER_Billing_Volvo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_1_Assignment</name>
        <label>Case 1 Assignment</label>
        <locationX>243</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>Case1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WER Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Invoice Creation from Accounting Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_2_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_2_Assignment</name>
        <label>Case 2 Assignment</label>
        <locationX>243</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>Case2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WER Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm Invoice Accuracy from Accounting Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_3_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_3_Assignment</name>
        <label>Case 3 Assignment</label>
        <locationX>466</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>Case3.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Nx000002AO7xIAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Case_Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WER Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconciliation of Volvo Over/Under Spend</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Day</name>
        <label>Check the Day</label>
        <locationX>422</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_1_Assignment</targetReference>
            </connector>
            <label>Is First</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datechecking</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>datePlusOne</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>datePlusThree</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>Description1</name>
        <dataType>String</dataType>
        <expression>&quot;Reach out to Accounting team using the Invoice Request template with the Advertising Actuals and Management Fees found in the Billing Doc. https://docs.google.com/spreadsheets/u/0/d/1TP2kRpB_UkaqWzfZSSvwbOmMCV2aNdiuBXfd0aTyy_Q/edit&quot;</expression>
    </formulas>
    <formulas>
        <name>Description2</name>
        <dataType>String</dataType>
        <expression>&quot;Once Accounting team shares the invoice, confirm accuracy of the invoice and confirm that they can proceed with sharing the invoice with the client!&quot;</expression>
    </formulas>
    <formulas>
        <name>Description3</name>
        <dataType>String</dataType>
        <expression>&quot;Adjust Pacing report and Billing sheet based on over/under spend.https://docs.google.com/spreadsheets/u/0/d/1TP2kRpB_UkaqWzfZSSvwbOmMCV2aNdiuBXfd0aTyy_Q/edit &amp; https://docs.google.com/spreadsheets/u/0/d/1Vd1XqHtTpk3WzonxIVrLr4FmTEJOIqCYpeApvgpV8sI/edit&quot;</expression>
    </formulas>
    <formulas>
        <name>IsFirstOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <description>Is it Monday today ?</description>
        <name>ISMONDAY</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY(TODAY()) = 2</expression>
    </formulas>
    <formulas>
        <name>TUESDAY</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Create Cases for WER Billing : Volvo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cases for WER Billing : Volvo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>654</locationX>
        <locationY>544</locationY>
        <inputReference>CaseListToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>415</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Check_the_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volvo Digital Advertising Program (corporate)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-30</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
