force-app/main/default/flows/Digital_Build_Logo_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Comment</name>
        <label>Assign Comment</label>
        <locationX>308</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>CommentToAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Add_Comment}{!Add_Comment2}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comment_Added_Gate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trigger_Send</name>
        <label>Trigger Send</label>
        <locationX>786</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Get_Build.Logo_Create_Compliance_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Build.Logo_Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Logo_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Build.Logo_Additional_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Logo_Additional_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Exists</name>
        <label>Already Exists</label>
        <locationX>576</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Submit_Compliance_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Request Yet</defaultConnectorLabel>
        <rules>
            <name>Request_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Build.Logo_Final_Creative_File_or_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Compliance_Info</targetReference>
            </connector>
            <label>Request Completed</label>
        </rules>
        <rules>
            <name>Request_Already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Build</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Build.Logo_Create_Compliance_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Comments</targetReference>
            </connector>
            <label>Request Already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comment_Added_Gate</name>
        <label>Comment Added Gate</label>
        <locationX>402</locationX>
        <locationY>1075</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comment_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommentToAdd</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Comment</targetReference>
            </connector>
            <label>Comment Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comments_Gate</name>
        <label>Comments Gate</label>
        <locationX>436</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>ComplianceLogoSubmitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Comments</defaultConnectorLabel>
        <rules>
            <name>No_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceLogoSubmitted_0</targetReference>
            </connector>
            <label>No Comments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Digital Build - Logo Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital Build - Logo Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Comment</name>
        <label>Create Comment</label>
        <locationX>622</locationX>
        <locationY>1075</locationY>
        <inputAssignments>
            <field>Digital_Build_Logo_Comment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Build_Request__c</field>
            <value>
                <elementReference>Get_Build.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_PT__c</field>
            <value>
                <elementReference>CommentToAdd</elementReference>
            </value>
        </inputAssignments>
        <object>Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Build</name>
        <label>Get Build</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Build_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Comments</name>
        <label>Get Comments</label>
        <locationX>582</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comments_Gate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Digital_Build_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Build.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Digital_Build_Logo_Comment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>788</locationX>
        <locationY>696</locationY>
        <inputReference>Get_Build</inputReference>
    </recordUpdates>
    <screens>
        <name>ComplianceLogoSubmitted</name>
        <label>Display Logo Info</label>
        <locationX>463</locationX>
        <locationY>816</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Comment</targetReference>
        </connector>
        <fields>
            <name>ComplianceLogoSubmitted_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ComplianceLogoSubmitted_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Build.Logo_Project_Name__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Build.Logo_Additional_Notes__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>comments</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Comment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Logo Compliance Comments</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Comments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Commenter__c&quot;,&quot;guid&quot;:&quot;column-233a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Commenter&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Note_PT__c&quot;,&quot;guid&quot;:&quot;column-3bd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Note&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Add_Comment2</name>
                    <fieldText>Add Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>warning2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;** Once you add a comment it may take a moment for this to sync.  If you don&apos;t see it here after clicking the blue button below please wait a few minutes and refresh.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Request/Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ComplianceLogoSubmitted_0</name>
        <label>Display Logo Info</label>
        <locationX>330</locationX>
        <locationY>817</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Comment</targetReference>
        </connector>
        <fields>
            <name>ComplianceLogoSubmitted_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ComplianceLogoSubmitted_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Build.Logo_Project_Name__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Build.Logo_Additional_Notes__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Add_Comment</name>
                    <fieldText>Add Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>warning1</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;** Once you add a comment it may take a moment for this to sync.  If you don&apos;t see it here after clicking the blue button below please wait a few minutes and refresh.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Request/Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Compliance_Info</name>
        <label>Display Compliance Info</label>
        <locationX>273</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayOnly</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Logo Compliance Complete&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Filepath: {!Get_Build.Logo_Final_Creative_File_or_URL__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Build.Logo_Project_Name__c}&lt;/p&gt;&lt;p&gt;{!Get_Build.Logo_Additional_Notes__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Compliance_Request</name>
        <label>Submit Compliance Request</label>
        <locationX>788</locationX>
        <locationY>393</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Trigger_Send</targetReference>
        </connector>
        <fields>
            <name>Project_Logo_Name</name>
            <dataType>String</dataType>
            <fieldText>Project Logo Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Logo_Additional_Notes</name>
            <fieldText>Logo Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Build</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommentToAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
