force-app/main/default/flows/Email_alert_when_case_assign_to_changed_status_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_notification_to_AT</name>
        <label>Email notification to AT</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>Case.Notify_when_case_is_closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_when_case_is_closed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_when_case_assigned</name>
        <label>Email when case assigned</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Case.Notify_when_case_is_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_for_case_assignment_and_status1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_when_case_is_assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_when_case_is_closed</name>
        <label>Email when case is closed</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <actionName>Case.Notify_when_case_is_completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_when_case_is_completed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>When case status change to On hold to In Progress.</description>
        <name>Email_When_case_status_change_to_On_hold_to_In_Progress</name>
        <label>When case status change to On hold to In Progress.</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>Case.When_case_status_change_to_On_hold_to_In_Progress</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.When_case_status_change_to_On_hold_to_In_Progress</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>When Status change from Future to New.</description>
        <name>Email_When_Status_change_from_Future_to_New</name>
        <label>When Status change from Future to New.</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Case.When_Status_change_from_Future_to_New</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.When_Status_change_from_Future_to_New</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Manager</name>
        <label>Send Email to Manager</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <actionName>Case.Demo_case_assignment_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Demo_case_assignment_email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assgn_AT_Email_Value</name>
        <label>Assgn AT Email Value</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Technician_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Technician__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_AT_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manager_Email</name>
        <label>Assign Manager Email</label>
        <locationX>1370</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manager_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Assign_To__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_account_AT</name>
        <label>Check for account AT</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_account_AT_s_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Technician__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assgn_AT_Email_Value</targetReference>
            </connector>
            <label>Check for account AT&apos;s id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_case_assignment_and_status</name>
        <label>Check for case assignment and status</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_case_assignment_and_status1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_when_case_assigned</targetReference>
            </connector>
            <label>Case is assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_case_assignment_and_status1</name>
        <label>Check for case assignment and status</label>
        <locationX>974</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>When_Status_change_from_Future_to_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_When_Status_change_from_Future_to_New</targetReference>
            </connector>
            <label>When Status change from Future to New</label>
        </rules>
        <rules>
            <name>When_case_status_change_to_On_hold_to_In_Progress</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5) AND 4 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold  Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold - RPM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold - Team Velocity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_When_case_status_change_to_On_hold_to_In_Progress</targetReference>
            </connector>
            <label>When case status change to On hold to In Progress.</label>
        </rules>
        <rules>
            <name>Case_is_closed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_user_details</targetReference>
            </connector>
            <label>Case is closed</label>
        </rules>
        <rules>
            <name>When_Case_Status_is_Ready_For_QA</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign build - Client Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign build - Get Me More</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign Build Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for QA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_case_assignment_manager</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>When Case Status is Ready For QA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_case_assignment_manager</name>
        <label>Check for case assignment manager</label>
        <locationX>1502</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_case_assignment_manager_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Assign_To__r.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manager_Email</targetReference>
            </connector>
            <label>Check for case assignment manager id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_details</name>
        <label>Check user details</label>
        <locationX>908</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Email_when_case_is_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check_case_closed_user_is_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Account_Technician__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_account_AT</targetReference>
            </connector>
            <label>Check case closed user is AT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Email alert when case assign to changed &amp; status completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email alert when case assign to changed &amp; status completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_AT_Email</name>
        <label>Update Case AT Email</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Email_notification_to_AT</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Field</name>
        <label>Update Email Field</label>
        <locationX>1370</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Send_Email_to_Manager</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_case_assignment_and_status</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
