force-app/main/default/flows/Onboarding_and_Opportunity_RPM_and_technician_update_from_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_value_to_opp_fields</name>
        <label>Assign value to opp fields</label>
        <locationX>881</locationX>
        <locationY>1537</locationY>
        <assignmentItems>
            <assignToReference>Iterating_Opportunity.Regional_performance_manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_Opportunity.Account_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_RPM_and_technician</name>
        <label>Assign Value to RPM and technician</label>
        <locationX>817</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>Iterating_Onboarding.Account_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Technician__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_Onboarding.Regional_performance_manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Regional_performance_manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_Onboarding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_Onboarding</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_onboarding_record_found</name>
        <label>If onboarding record found</label>
        <locationX>906</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>get_related_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_related_onboarding_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_Onboarding</targetReference>
            </connector>
            <label>If Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_opportunity_records_found</name>
        <label>If opportunity records found</label>
        <locationX>584</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_opp_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_related_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterating_Opportunity</targetReference>
            </connector>
            <label>If opp found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarding and Opportunity RPM and technician update from account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding and Opportunity RPM and technician update from account</label>
    <loops>
        <name>Iterating_Onboarding</name>
        <label>Iterating Onboarding</label>
        <locationX>452</locationX>
        <locationY>623</locationY>
        <collectionReference>get_related_onboarding_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_RPM_and_technician</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Onboarding_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_Opportunity</name>
        <label>Iterating Opportunity</label>
        <locationX>452</locationX>
        <locationY>1535</locationY>
        <collectionReference>get_related_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_opp_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Opportunity_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_related_onboarding_records</name>
        <label>get related onboarding records</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_onboarding_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_opportunities</name>
        <label>get related opportunities</label>
        <locationX>584</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_opportunity_records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Onboarding_Records</name>
        <label>Copy 1 of Update Onboarding Records</label>
        <locationX>452</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>get_related_opportunities</targetReference>
        </connector>
        <inputReference>OnboardingToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_records</name>
        <label>Copy 1 of Update Opportunity records</label>
        <locationX>456</locationX>
        <locationY>1772</locationY>
        <inputReference>OpportunityToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_related_onboarding_records</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Account_Technician__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Technician__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Regional_performance_manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Regional_performance_manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OnboardingToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>OpportunityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
