force-app/main/default/flows/Opportunity_Franchise_Type_Hyundai_and_Acura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Notify - Hyundai contract is signed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Notify_when_Hyundai_contract_is_signed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notify_when_Hyundai_contract_is_signed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Contract sign date change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Contract sign date change</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hyundai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Contract sign date change</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Franchise Type Hyundai or Acura</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Franchise Type Hyundai or Acura</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hyundai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subaru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_Franchise Type Hyundai or Acura</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Franchise Type not Hyundai or Acura</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Franchise Type not Hyundai or Acura</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>((NOT 1) OR (NOT 3)  OR (NOT 4)) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hyundai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subaru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Franchise Type not Hyundai or Acura</label>
        </rules>
    </decisions>
    <description>Migrated from the Opportunity Franchise Type Hyundai and Acura process using multiple criteria.</description>
    <environments>Default</environments>
    <label>Opportunity Franchise Type Hyundai and Acura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Set Onboarding OEM program coop to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Hyundai_Coop__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Onboardings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>unset onboarding OEM program coop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Hyundai_Coop__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Onboardings__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
