force-app/main/default/flows/OpportunityCancellationDatesUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_CurrentBudgetYearMonth</name>
        <label>Copy 1 of CurrentBudgetYearMonth</label>
        <locationX>528</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecordsDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Media_Budget.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compaire_Date_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_current_budget_date</name>
        <label>Update current budget date</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CurrentMonthBudgetToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Media_Budget.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Media_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Month_Budget</name>
        <label>Update Last Month Budget</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LastMonthBudgetToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Media_Budget.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Media_Budget</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compaire_Date_Year</name>
        <label>Compaire Date Year</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Media_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Current_Month_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentRecordsMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentRecordsYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_budget_date</targetReference>
            </connector>
            <label>If Current Month Year</label>
        </rules>
        <rules>
            <name>If_Last_Month_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentRecordsMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentRecordsYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Month_Budget</targetReference>
            </connector>
            <label>If Last Month Year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentRecordsMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!CurrentRecordsDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentRecordsYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!CurrentRecordsDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY()) - 1 = 0, YEAR(TODAY()) - 1 , YEAR(TODAY()))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastMonth</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY()) - 1  =  0, 12, MONTH(TODAY()) - 1  )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OpportunityCancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityCancellationDatesUpdate</label>
    <loops>
        <name>Iterate_through_Media_Budget</name>
        <label>Iterate through Media Budget</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Media_Budgets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_CurrentBudgetYearMonth</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Budgets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Media_Budgets</name>
        <label>Get Media Budgets</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Media_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Media_Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Budgets</name>
        <label>Update Total Budgets</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Current_Month_Budget__c</field>
            <value>
                <elementReference>CurrentMonthBudgetToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Month_Budget__c</field>
            <value>
                <elementReference>LastMonthBudgetToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Media_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancellation_Received__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Received__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMonthBudgetToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentRecordsDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastMonthBudgetToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OppRecordListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecordListToUpdate2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Year</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
