force-app/main/default/flows/Opportunity_Flow_To_Update_Account_s_Type_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Type_Field_Value_To_Variable</name>
        <label>Assign Account Type Field Value To Variable</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>getTypeFieldVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoTypeVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalStr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_type_value_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count_of_opp</name>
        <label>Assign count of opp</label>
        <locationX>776</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Noofoppwithsameaccounttype</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_records_for_opp_for_same_account_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_nos_of_opp_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NoOfLostOppsOnAcc</name>
        <label>Assign NoOfLostOppsOnAcc</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NoOfLostOppsOnAcc</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_opp_records_with_same_acc_and_lost_status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_of_opp_records_with_same_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NoOfOppsOnAcc</name>
        <label>Assign NoOfOppsOnAcc</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NoOfOppsOnAcc</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_opp_records_with_same_acc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_total_number_of_lost_opp_is_equal_to_total_opp_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opp_and_account_type_to_variable</name>
        <label>Assign opp and account type to variable</label>
        <locationX>776</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OpportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accounttypelist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_records_for_opp_for_same_account_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_value_on_account</name>
        <label>Assign type value on account</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updateacc.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_count_of_opp</name>
        <label>Copy 1 of Assign count of opp</label>
        <locationX>1832</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Noofoppwithsameaccounttype1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Get_records_for_opp_for_same_account_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_nos_of_opp_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_NoOfOppsOnAcc</name>
        <label>Copy 1 of Assign NoOfOppsOnAcc</label>
        <locationX>1832</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NoOfOppsOnAcc1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_opp_records_with_same_acc_with_live_opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_total_number_of_lost_opp_is_equal_to_total_opp_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_opp_and_account_type_to_variable</name>
        <label>Copy 1 of Assign opp and account type to variable</label>
        <locationX>1832</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>opportunitytype1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accounttypelist1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_records_for_opp_for_same_account_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_type_value_on_account</name>
        <label>Copy 1 of Assign type value on account</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>updateacc.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Type_Field_Has_Value_or_Not</name>
        <label>Check Account&apos;s Type Field Has Value or Not</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_type_value_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Type Field is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Accounts.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Type_Field_Value_To_Variable</targetReference>
            </connector>
            <label>Yes It has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opp_stage</name>
        <label>Check for opp stage</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Update_account_type_after_removing_opp_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_no_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opp_related_all_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If no null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_stage</name>
        <label>Check for opportunity stage</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>if_stage_is_onboarding_or_Enrollment_pending</name>
            <conditionLogic>5 AND ((3 AND (1 OR 2)) OR (4 AND 1))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Related_Account_Record</targetReference>
            </connector>
            <label>if stage is onboarding or Enrollment pending</label>
        </rules>
        <rules>
            <name>if_stage_is_close_lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_opp_records_with_same_acc_and_lost_status</targetReference>
            </connector>
            <label>if stage is close lost</label>
        </rules>
        <rules>
            <name>If_stage_in_never_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Never Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_opp_records_with_same_acc_with_live_opps</targetReference>
            </connector>
            <label>If stage in never launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_nos_of_opp_found</name>
        <label>Check nos of opp found</label>
        <locationX>776</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_nos_of_account_greater_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noofoppwithsameaccounttype</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opp_related_all_account</targetReference>
            </connector>
            <label>Check nos of account greater than one</label>
        </rules>
        <rules>
            <name>Check_nos_of_opp_equal_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noofoppwithsameaccounttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_account_type_after_removing_opp_type</targetReference>
            </connector>
            <label>Check nos of opp equal one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_total_number_of_lost_opp_is_equal_to_total_opp_count</name>
        <label>Check total number of lost opp is equal to total opp count</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_opp_and_account_type_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_count_is_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfLostOppsOnAcc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoOfOppsOnAcc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactive_account</targetReference>
            </connector>
            <label>If count is same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_opp_stage</name>
        <label>Copy 1 of Check for opp stage</label>
        <locationX>1502</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Update_account_type_after_removing_opp_type_and_account_imactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_no_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_opp_related_all_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of If no null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_nos_of_opp_found</name>
        <label>Copy 1 of Check nos of opp found</label>
        <locationX>1832</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_nos_of_account_greater_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noofoppwithsameaccounttype1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_opp_related_all_account</targetReference>
            </connector>
            <label>Copy 1 of Check nos of account greater than one</label>
        </rules>
        <rules>
            <name>Copy_1_of_Check_nos_of_opp_equal_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noofoppwithsameaccounttype1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_type_after_removing_opp_type_and_inactive_acccount</targetReference>
            </connector>
            <label>Copy 1 of Check nos of opp equal one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_total_number_of_lost_opp_is_equal_to_total_opp_count</name>
        <label>Copy 1 of Check total number of lost opp is equal to total opp count</label>
        <locationX>1832</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Deactive_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_no_of_live_opp_on_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfOppsOnAcc1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_opp_and_account_type_to_variable</targetReference>
            </connector>
            <label>Check no of live opp on account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatValues</name>
        <dataType>String</dataType>
        <expression>IF(NOT(CONTAINS({!getTypeFieldVal}, {!oppoTypeVal})), {!getTypeFieldVal} &amp;&apos;;&apos;&amp; {!oppoTypeVal}, {!getTypeFieldVal})</expression>
    </formulas>
    <formulas>
        <name>removeopptypefromaccouttypelist</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Accounttypelist},{!OpportunityType} ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>removeopptypefromaccouttypelist1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Accounttypelist1},{!opportunitytype1} ,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity Flow To Update Account&apos;s Type Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow To Update Account&apos;s Type Field rev1</label>
    <loops>
        <name>Iterate_Accounts</name>
        <label>Iterate Accounts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Fetch_Related_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Type_Field_Has_Value_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Related_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_opp_related_all_account</name>
        <label>Copy 1 of Get opp related all account</label>
        <locationX>1502</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_for_opp_stage</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4 )AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_records_for_opp_for_same_account_type</name>
        <label>Copy 1 of Get records for opp for same account type</label>
        <locationX>1832</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_count_of_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Related_Account_Record</name>
        <label>Fetch Related Account Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opp_related_all_account</name>
        <label>Get opp related all account</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_opp_stage</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4 )AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_records_for_opp_for_same_account_type</name>
        <label>Get records for opp for same account type</label>
        <locationX>776</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count_of_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>List_of_opp_records_with_same_acc</name>
        <label>List of opp records with same acc</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_NoOfOppsOnAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>List_of_opp_records_with_same_acc_and_lost_status</name>
        <label>List of opp records with same acc and lost status</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_NoOfLostOppsOnAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>List_of_opp_records_with_same_acc_with_live_opps</name>
        <label>List of opp records with same acc with live opps</label>
        <locationX>1832</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_NoOfOppsOnAcc</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Deactive_account</name>
        <label>Copy 1 of Deactive account</label>
        <locationX>1920</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_opp_and_account_type_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_account_type_after_removing_opp_type</name>
        <label>Copy 1 of Update account type after removing opp type</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>removeopptypefromaccouttypelist</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Related_Account_Record</name>
        <label>Copy 1 of Update Related Account Record</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>AllAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactive_account</name>
        <label>Deactive account</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Assign_opp_and_account_type_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_type_after_removing_opp_type</name>
        <label>Update account type after removing opp type</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>removeopptypefromaccouttypelist</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_type_after_removing_opp_type_and_account_imactive</name>
        <label>Update account type after removing opp type and account imactive</label>
        <locationX>1634</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>removeopptypefromaccouttypelist1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_type_after_removing_opp_type_and_inactive_acccount</name>
        <label>Update account type after removing opp type and inactive acccount</label>
        <locationX>1898</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>removeopptypefromaccouttypelist1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_opportunity_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Accounttypelist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Accounttypelist1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>finalStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getTypeFieldVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfLostOppsOnAcc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfneverlaunchedOppsOnAcc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>noofopps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfOppsOnAcc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfOppsOnAcc1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Noofoppwithsameaccounttype</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Noofoppwithsameaccounttype1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunitytype1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppoTypeVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateacc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
