force-app/main/default/flows/Schedule_Data_Email_QA_Not_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Data_Email_QA_Not_Complete</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Data &amp; Email QA Not Complete</label>
        <locationX>50</locationX>
        <locationY>1260</locationY>
        <actionName>Onboarding__c.Data_Email_QA_Not_Complete</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding__c.Data_Email_QA_Not_Complete</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Data_Email_QA_Not_Complete</name>
        <label>Copy 1 of Copy 1 of Data &amp; Email QA Not Complete</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <actionName>Onboarding__c.Data_Email_QA_Not_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_1_week_ago_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding__c.Data_Email_QA_Not_Complete</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Data_Email_QA_Not_Complete</name>
        <label>Copy 1 of Data &amp; Email QA Not Complete</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <actionName>Onboarding__c.Data_Email_QA_Not_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_2_week_ago_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding__c.Data_Email_QA_Not_Complete</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Email_QA_Not_Complete</name>
        <label>Data &amp; Email QA Not Complete</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Onboarding__c.Data_Email_QA_Not_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_3_Week_ago_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding__c.Data_Email_QA_Not_Complete</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_1_week_ago_date</name>
        <label>Check 1 week ago date</label>
        <locationX>182</locationX>
        <locationY>1152</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One_Week_Ago_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Data_Email_QA_Not_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_2_week_ago_date</name>
        <label>Check 2 week ago date</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Check_1_week_ago_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Two_Week_Ago_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Data_Email_QA_Not_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_3_Week_ago_date</name>
        <label>Check 3 Week ago date</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Check_2_week_ago_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Three_Week_Ago_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Data_Email_QA_Not_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_4_Week_Before_Date</name>
        <label>Check 4 Week Before Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Check_3_Week_ago_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Four_Week_Ago_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Email_QA_Not_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Four_Week_Ago_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Analysis_Date__c}-(4*7)</expression>
    </formulas>
    <formulas>
        <name>One_Week_Ago_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Analysis_Date__c}-7</expression>
    </formulas>
    <formulas>
        <name>Three_Week_Ago_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Analysis_Date__c}-(3*7)</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Two_Week_Ago_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planned_Analysis_Date__c}-(2*7)</expression>
    </formulas>
    <interviewLabel>Schedule - Data &amp; Email QA Not Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule - Data &amp; Email QA Not Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_4_Week_Before_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Email_QA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Planned_Analysis_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-08-20T04:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-02</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
