force-app/main/default/flows/Send_email_when_OTT_Actual_Launch_Date_Entered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_alert_for_Account_is_live_with_Foundation_Direct_OTT_Date</name>
        <label>Send Email alert for Account is live with Foundation Direct OTT Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Onboarding__c.Notify_when_Account_is_live_with_Foundation_Direct_OTT_Date</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Onboarding__c.Notify_when_Account_is_live_with_Foundation_Direct_OTT_Date</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Prior_value_should_be_Null</name>
        <label>Check Prior value should be Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OTT_Actual_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_alert_for_Account_is_live_with_Foundation_Direct_OTT_Date</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send email when  OTT Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email when  OTT Actual Launch Date Entered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Prior_value_should_be_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OTT_Actual_Launch_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OTT_Actual_Launch_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
