force-app/main/default/flows/Send_email_alert_when_opp_stage_change_lost_cancellation_contract_signed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_1</name>
        <label>Send Email Alert 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_changed_to_contract_signed_for_franchise_Acura</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_changed_to_contract_signed_for_franchise_Acura</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_2</name>
        <label>Send Email Alert 2</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_changed_to_cancellation_for_franchise_Acura</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_changed_to_cancellation_for_franchise_Acura</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_3</name>
        <label>Send Email Alert 3</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_changed_to_cancellation_for_franchise_Honda</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_changed_to_cancellation_for_franchise_Honda</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_4</name>
        <label>Send Email Alert 4</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_contract_signed_updated_agreement_for_franchise_Acura</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_contract_signed_updated_agreement_for_franchise_Acura</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_5</name>
        <label>Send Email Alert 5</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_contract_signed_updated_agreement_for_franchise_Honda</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_contract_signed_updated_agreement_for_franchise_Honda</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_6</name>
        <label>Send Email Alert 6</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Test_Send_email_when_opp_changed_to_contract_signed_for_franchise_honda</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Test_Send_email_when_opp_changed_to_contract_signed_for_franchise_honda</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Check_for_franchise_type</name>
        <label>Check for franchise type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Acura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_1</targetReference>
            </connector>
            <label>If Acura</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_Honda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_6</targetReference>
            </connector>
            <label>If Honda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_for_franchise_type</name>
        <label>Check for franchise type</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_Acura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_2</targetReference>
            </connector>
            <label>If Acura</label>
        </rules>
        <rules>
            <name>Copy_2_of_If_Honda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_3</targetReference>
            </connector>
            <label>If Honda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_for_franchise_type</name>
        <label>Check for franchise type</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_If_Acura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_4</targetReference>
            </connector>
            <label>If Acura</label>
        </rules>
        <rules>
            <name>Copy_3_of_If_Honda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_5</targetReference>
            </connector>
            <label>If Honda</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_signed</name>
            <conditionLogic>1 AND 2 AND 3 AND (NOT 4) AND (NOT 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_for_franchise_type</targetReference>
            </connector>
            <label>Contract signed</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (NOT 5) AND (NOT 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Day_of_Service__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Day_of_Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Last_Day_of_Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_for_franchise_type</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Check_for_Updated_Agreement</name>
            <conditionLogic>1 AND (NOT 2) AND 3 AND 4 AND (NOT 5) AND (NOT 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Signed_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricing_Adjustment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Contract_Signed_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contract_Signed_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Check_for_franchise_type</targetReference>
            </connector>
            <label>Check for Updated Agreement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send email alert when opp stage change lost,cancellation,contract signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email alert when opp stage change lost,cancellation,contract signed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital Advertising</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
