force-app/main/default/flows/Update_All_Opportunities_field_on_account_and_opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_variable</name>
        <label>Assign to variable</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_opps.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_opps.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_opps</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Oppdetailsfinal</name>
        <dataType>String</dataType>
        <expression>LEFT({!oppdetails}, LEN({!oppdetails}) - 1)</expression>
    </formulas>
    <interviewLabel>Update All Opportunities field on account and opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update All Opportunities field on account and opp</label>
    <loops>
        <name>Loop_through_all_opps</name>
        <label>Loop through all opps</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_account_all_opp_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_opportunities</name>
        <label>Get all opportunities</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account_all_opp_field</name>
        <label>update account all opp field</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_related_opp_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Opportunities__c</field>
            <value>
                <elementReference>Oppdetailsfinal</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp_records</name>
        <label>Update related opp records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Opportunities__c</field>
            <value>
                <elementReference>Oppdetailsfinal</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_opportunities</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oppdetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
