force-app/main/default/flows/Update_Website_URL_Provider_when_changed_on_measurement_object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Website_Provider</name>
        <label>Check for Website Provider</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Provider__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_related_Opportunity</targetReference>
            </connector>
            <label>If changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Website_URL</name>
        <label>Check for Website URL</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_Website_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_URL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Opportunity</targetReference>
            </connector>
            <label>If changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Website URL &amp; Provider when changed on measurement object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Website URL &amp; Provider when changed on measurement object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_related_Onboarding_record</name>
        <label>Get related Onboarding record</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_related_Onboarding_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Onboarding_record</name>
        <label>Get related Onboarding record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_related_Onboarding_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_related_Account</name>
        <label>Update related Account</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_related_Onboarding_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_related_Onboarding_record</name>
        <label>Update related Onboarding record</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_related_Onboarding_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_related_Opportunity</name>
        <label>Update related Opportunity</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Account</name>
        <label>Update related Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_related_Onboarding_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Onboarding_record</name>
        <label>Update related Onboarding record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_for_Website_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Onboarding_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Opportunity</name>
        <label>Update related Opportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Website_URL</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Website_URL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website_Provider__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website_Provider__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Measurement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
