force-app/main/default/flows/Update_account_s_OEM_OEM_program_type_from_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Type_Field_Value_To_Variable</name>
        <label>Assign Account Type Field Value To Variable</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>getTypeFieldVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoTypeVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalStr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_type_value_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OEM_Field_Value_To_Variable</name>
        <label>Assign OEM Field Value To Variable</label>
        <locationX>226</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>getOEMFieldval_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts1.OEM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoOEMVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OEM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalOEMstr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concateOEMValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OEM_Program_Field_Value_To_Variable</name>
        <label>Assign OEM Program Field Value To Variable</label>
        <locationX>138</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>getOEMprgFieldval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts2.OEM_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppoOEMprgVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OEM_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalOEMprgstr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concateOEMprgValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OEM_Program_value_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OEM_Program_value_on_account</name>
        <label>Assign OEM Program value on account</label>
        <locationX>138</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>updateacc2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc2.OEM_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOEMprgstr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllaccountforOEMprg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OEM_value_on_account</name>
        <label>Assign OEM value on account</label>
        <locationX>226</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>updateacc1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc1.OEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOEMstr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllaccountsforOEM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_value_on_account</name>
        <label>Assign type value on account</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>updateacc.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_OEM_Program_value_on_account</name>
        <label>Copy 1 of Assign OEM Program value on account</label>
        <locationX>402</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>updateacc2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc2.OEM_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OEM_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllaccountforOEMprg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_OEM_value_on_account</name>
        <label>Copy 1 of Assign OEM value on account</label>
        <locationX>490</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>updateacc1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc1.OEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OEM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllaccountsforOEM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_type_value_on_account</name>
        <label>Copy 1 of Assign type value on account</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updateacc.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateacc.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateacc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_s_OEM_Field_Has_Value_or_Not</name>
        <label>Check Account&apos;s OEM Field Has Value or Not</label>
        <locationX>358</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_OEM_value_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Type Field is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_Value1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Accounts1.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OEM_Field_Value_To_Variable</targetReference>
            </connector>
            <label>Yes It has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_s_OEM_Program_Field_Has_Value_or_Not</name>
        <label>Check Account&apos;s OEM Program Field Has Value or Not</label>
        <locationX>270</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_OEM_Program_value_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Type Field is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_Value2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Accounts2.OEM_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OEM_Program_Field_Value_To_Variable</targetReference>
            </connector>
            <label>Yes It has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Type_Field_Has_Value_or_Not</name>
        <label>Check Account&apos;s Type Field Has Value or Not</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_type_value_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Type Field is Null</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Accounts.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Type_Field_Value_To_Variable</targetReference>
            </connector>
            <label>Yes It has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_change_or_new</name>
        <label>Check for change or new</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed_or_new</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Related_Account_Record</targetReference>
            </connector>
            <label>If changed or new</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_account_type_changed</name>
        <label>Check if account type changed</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_OEM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>if_account_type_is_changed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Accounts</targetReference>
            </connector>
            <label>if account type is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OEM_changed</name>
        <label>Check if OEM changed</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_if_OEM_Program_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>if_OEM_is_changed</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Accounts1</targetReference>
            </connector>
            <label>if OEM is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OEM_Program_changed</name>
        <label>Check if OEM Program changed</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>if_OEM_Program_is_changed</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OEM_Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OEM_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Accounts2</targetReference>
            </connector>
            <label>if OEM Program is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concateOEMprgValues</name>
        <dataType>String</dataType>
        <expression>IF(NOT(CONTAINS({!getOEMprgFieldval}, {!oppoOEMprgVal})), {!getOEMprgFieldval} &amp;&apos;;&apos;&amp; {!oppoOEMprgVal}, {!getOEMprgFieldval})</expression>
    </formulas>
    <formulas>
        <name>concateOEMValues</name>
        <dataType>String</dataType>
        <expression>IF({!findOEMValueInAcc} != 0, {!getOEMFieldval} &amp;&apos;;&apos;&amp; {!oppoOEMVal}, {!getOEMFieldval})</expression>
    </formulas>
    <formulas>
        <name>concatValues</name>
        <dataType>String</dataType>
        <expression>IF(NOT(CONTAINS({!getTypeFieldVal}, {!oppoTypeVal})), {!getTypeFieldVal} &amp;&apos;;&apos;&amp; {!oppoTypeVal}, {!getTypeFieldVal})</expression>
    </formulas>
    <formulas>
        <name>findOEMValueInAcc</name>
        <dataType>Number</dataType>
        <expression>FIND({!getOEMFieldval}, {!oppoOEMVal})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update account type,OEM &amp; OEM program from opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update account&apos;s OEM,OEM program &amp; type from opportunity</label>
    <loops>
        <name>Iterate_Accounts</name>
        <label>Iterate Accounts</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Fetch_Related_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Type_Field_Has_Value_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Account_Record_for_account_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Accounts1</name>
        <label>Iterate Accounts1</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <collectionReference>Fetch_Related_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_s_OEM_Field_Has_Value_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Account_Record_for_OEM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Accounts2</name>
        <label>Iterate Accounts2</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <collectionReference>Fetch_Related_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_s_OEM_Program_Field_Has_Value_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Account_Record_for_OEM_program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_4</name>
        <label>Loop 4</label>
        <locationX>226</locationX>
        <locationY>1871</locationY>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Assign_OEM_value_on_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Related_Account_Record</name>
        <label>Fetch Related Account Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_account_type_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Account_Record_for_account_type</name>
        <label>Update Related Account Record for account type</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_if_OEM_changed</targetReference>
        </connector>
        <inputReference>AllAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account_Record_for_OEM</name>
        <label>Update Related Account Record for OEM</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Check_if_OEM_Program_changed</targetReference>
        </connector>
        <inputReference>AllaccountsforOEM</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account_Record_for_OEM_program</name>
        <label>Update Related Account Record for OEM program</label>
        <locationX>50</locationX>
        <locationY>3239</locationY>
        <inputReference>AllaccountforOEMprg</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_change_or_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>AllaccountforOEMprg</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllaccountsforOEM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>finalOEMprgstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalOEMstr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOEMFieldval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getOEMFieldval_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOEMprgFieldval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getTypeFieldVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppoOEMprgVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppoOEMVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppoTypeVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateacc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateacc1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateacc2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
