force-app/main/default/flows/Update_opp_and_opp_s_NCM_20_group_code_when_campaign_member_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_which_NCM_campaign</name>
        <label>Check for which NCM campaign</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Nx00000AMFSTIA5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_opportunity_records_for_count_1</targetReference>
            </connector>
            <label>If NCM</label>
        </rules>
        <rules>
            <name>If_NCM2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Nx00000AkkQIIAZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_opportunity_records_for_count_2</targetReference>
            </connector>
            <label>If NCM2</label>
        </rules>
        <rules>
            <name>If_NCM_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701Nx00000AkhSRIAZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_opportunity_records_for_count_3</targetReference>
            </connector>
            <label>If NCM 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM2</name>
        <label>Check if opp NCM 20 code is null and related opp record available for NCM2</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_NCM_20_Group_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_NCM_20_code_in_campaign_member_for_NCM2</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM3</name>
        <label>Check if opp NCM 20 code is null and related opp record available for NCM3</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_NCM_20_Group_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_NCM_20_code_in_campaign_member_for_NCM3</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_NCM</name>
        <label>Check if opp NCM 20 code is null and related opp record available NCM</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_NCM_20_Group_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_NCM_20_code_in_campaign_member_NCM</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM</name>
        <label>Check if Opportunity is null and related opp record available for NCM</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_NCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_in_campaign_member_NCM</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM_2</name>
        <label>Check if Opportunity is null and related opp record available for NCM 2</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_in_campaign_member_NCM2</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM_3</name>
        <label>Check if Opportunity is null and related opp record available for NCM 3</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_opportunity_records_for_count_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_in_campaign_member_NCM3</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update opp and opp&apos;s NCM 20 group code when campaign member created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update opp and opp&apos;s NCM 20 group code when campaign member created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_opportunity_records_for_count_1</name>
        <label>Get related opportunity records for count 1</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCM</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_opportunity_records_for_count_2</name>
        <label>Get related opportunity records for count 2</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCM</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_opportunity_records_for_count_3</name>
        <label>Get related opportunity records for count 3</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Opportunity_is_null_and_related_opp_record_available_for_NCM_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCM</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opportunity_in_campaign_member_NCM</name>
        <label>update opportunity in campaign member NCM</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_NCM</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_in_campaign_member_NCM2</name>
        <label>update opportunity in campaign member NCM2</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM2</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_in_campaign_member_NCM3</name>
        <label>update opportunity in campaign member NCM3</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_opp_NCM_20_code_is_null_and_related_opp_record_available_for_NCM3</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_NCM_20_code_in_campaign_member_for_NCM2</name>
        <label>update opportunity NCM 20 code in campaign member for NCM2</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Opportunity_NCM_20_Group_Code__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_2.NCM_20_Group_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_NCM_20_code_in_campaign_member_for_NCM3</name>
        <label>update opportunity NCM 20 code in campaign member for NCM3</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Opportunity_NCM_20_Group_Code__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_3.NCM_20_Group_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_NCM_20_code_in_campaign_member_NCM</name>
        <label>update opportunity NCM 20 code in campaign member NCM</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Opportunity_NCM_20_Group_Code__c</field>
            <value>
                <elementReference>Get_related_opportunity_records_for_count_1.NCM_20_Group_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_which_NCM_campaign</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Opportunity_NCM_20_Group_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
