force-app/main/default/flows/Update_Onboarding_s_Planned_analysis_date_from_GTM_on_site_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_product_type</name>
        <label>Check for product type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NCM_Intelligence_scorecard_or_BI_any_bi_Automation_needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCM Digital Intelligence Scorecard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Auto Group Dashboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Enterprise Dashboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BI Single Rooftop Dashboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_planned_analysis_date</targetReference>
            </connector>
            <label>If NCM Intelligence scorecard or BI (any bi) Automation needed,</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GTMonsiteplus30days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.GTM_on_Site__c} + 30</expression>
    </formulas>
    <interviewLabel>Update Onboarding&apos;s Planned analysis date from GTM on site date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Onboarding&apos;s Planned analysis date from GTM on site date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_planned_analysis_date</name>
        <label>Update planned analysis date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Planned_Analysis_Date__c</field>
            <value>
                <elementReference>GTMonsiteplus30days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_product_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GTM_on_Site__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GTM_on_Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
