force-app/main/default/flows/Update_Websire_URL_Provider_from_Opportunity_when_contract_signed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Prior_value_of_contract_signed_date</name>
        <label>Check for Prior value of contract signed date and website url is not null</label>
        <locationX>451</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_prior_value_was_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Account_record_for_website_URL</targetReference>
            </connector>
            <label>If prior value was Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Prior_value_of_contract_signed_date_and_website_provider_is_not_null</name>
        <label>Check for Prior value of contract signed date and website provider is not null</label>
        <locationX>297</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_prior_value_was_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Account_record_for_website_provider</targetReference>
            </connector>
            <label>Copy 1 of If prior value was Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Websire URL &amp; Provider from Opportunity when contract signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Websire URL &amp; Provider from Opportunity when contract signed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_onboarding_record_for_website_provider</name>
        <label>Get related onboarding record for website provider</label>
        <locationX>165</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Onboarding_Record_for_website_provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_onboarding_record_for_website_URL</name>
        <label>Get related onboarding record for website URL</label>
        <locationX>297</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Onboarding_Record_for_website_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Measurement_record_for_website_provider</name>
        <label>Update Measurement record for website provider</label>
        <locationX>165</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Get_related_onboarding_record_for_website_provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website_Provider__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Measurement_record_for_website_URL</name>
        <label>Update Measurement record for website URL</label>
        <locationX>297</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_related_onboarding_record_for_website_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Record_for_website_provider</name>
        <label>Update Onboarding Record for website provider</label>
        <locationX>165</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_onboarding_record_for_website_provider.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website_Provider__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Record_for_website_URL</name>
        <label>Update Onboarding Record for website URL</label>
        <locationX>297</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Check_for_Prior_value_of_contract_signed_date_and_website_provider_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_onboarding_record_for_website_URL.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Account_record_for_website_provider</name>
        <label>Update related Account record for website provider</label>
        <locationX>165</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Update_Measurement_record_for_website_provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website_Provider__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>$Record.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Account_record_for_website_URL</name>
        <label>Update related Account record for website URL</label>
        <locationX>297</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Measurement_record_for_website_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>add_delay</name>
            <connector>
                <targetReference>Check_for_Prior_value_of_contract_signed_date</targetReference>
            </connector>
            <label>add delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
