force-app/main/default/flows/Update_Measurement_Type_field_from_Opportunity_to_measurement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_account_type</name>
        <label>Check for account type</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Digital_ad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_parent_account</targetReference>
            </connector>
            <label>If Digital ad</label>
        </rules>
        <rules>
            <name>If_OEM_Advertising</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEM Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_update_measurement_type_on_measurement</targetReference>
            </connector>
            <label>If OEM Advertising</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_contract_signed</name>
        <label>Check for contract signed</label>
        <locationX>1502</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contract_is_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Contract_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_measurement_account_type_field</targetReference>
            </connector>
            <label>If contract is signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_parent_account</name>
        <label>Check for parent account</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Parent_account_is_not_Automotive_Management_Services_INC_AMSI_Penske_Automoti</name>
            <conditionLogic>((NOT 1) AND (NOT 2) AND (NOT 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W00002B2qtzQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W000027uND9QAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W00002B2qoeQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_measurement_object_record</targetReference>
            </connector>
            <label>If Parent account is not Automotive Management Services INC (AMSI), Penske Automotive Group, OR Lithia Motors</label>
        </rules>
        <rules>
            <name>If_parent_account_is_Automotive_Management_Services_INC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W00002B2qtzQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_measurement_type_on_measurement</targetReference>
            </connector>
            <label>If parent account is Automotive Management Services INC</label>
        </rules>
        <rules>
            <name>If_parent_account_is_Penske_Automotive_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W000027uND9QAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_update_measurement_type_on_measurement</targetReference>
            </connector>
            <label>If parent account is Penske Automotive Group</label>
        </rules>
        <rules>
            <name>If_parent_account_is_Lithia_Motors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014W00002B2qoeQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_update_measurement_type_on_measurement</targetReference>
            </connector>
            <label>If parent account is Lithia Motors</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Measurement Type field from Opportunity to measurement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Measurement Type field from Opportunity to measurement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_measurement_object_record</name>
        <label>Get all measurement object record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_measurement_type_on_measurement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Measurement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_measurement_type_on_measurement</name>
        <label>Copy 1 of update measurement type on measurement</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Measurement_Type__c</field>
            <value>
                <stringValue>AMSI</stringValue>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_update_measurement_type_on_measurement</name>
        <label>Copy 2 of update measurement type on measurement</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Measurement_Type__c</field>
            <value>
                <stringValue>Penske</stringValue>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_update_measurement_type_on_measurement</name>
        <label>Copy 3 of update measurement type on measurement</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Measurement_Type__c</field>
            <value>
                <stringValue>Lithia</stringValue>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_update_measurement_type_on_measurement</name>
        <label>Copy 5 of update measurement type on measurement</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Measurement_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_measurement_type_on_measurement</name>
        <label>update measurement type on measurement</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Measurement_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_measurement_account_type_field</name>
        <label>Update related measurement account type field</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_for_account_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Measurement__c</object>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_contract_signed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
