force-app/main/default/flows/Update_Onboarding_Products_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update Onboarding Products Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Onboarding Products Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_onboarding_products_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_onboarding_products_fields</name>
        <label>Update onboarding products fields</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>Get_Opportunity_Products.MRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product_Name__c</field>
            <value>
                <elementReference>Get_Opportunity_Products.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit_Center_New__c</field>
            <value>
                <elementReference>Get_Opportunity_Products.Profit_center_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit_Center_Service__c</field>
            <value>
                <elementReference>Get_Opportunity_Products.Profit_center_service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit_Center_Used__c</field>
            <value>
                <elementReference>Get_Opportunity_Products.Profit_center_used__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
