force-app/main/default/flows/Update_onboarding_fields_from_related_account_s_onboarding_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update onboarding fields from related account&apos;s onboarding record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update onboarding fields from related account&apos;s onboarding record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_onboarding_records_related_to_account</name>
        <label>Get onboarding records related to account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_onboarding_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_onboarding_records</name>
        <label>Update onboarding records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_charge_monthly_fee__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Auto_charge_monthly_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BigQuery_is_linked_in_GA4__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.BigQuery_is_linked_in_GA4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Provider__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Chat_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Start__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Chat_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Click_to_Call__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Click_to_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Definitions_Configurati__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Custom_Definitions_Configurati__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DR_Start__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.DR_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dashboard_View_ID__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Dashboard_View_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Email_QA__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Data_Email_QA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Retail_Provider__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Digital_Retail_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Start__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Finance_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foundation_GA4_View__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Foundation_GA4_View__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foundation_View_ID__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Foundation_View_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA4_Measurement_ID__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GA4_Measurement_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA4_Notes__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GA4_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA4_Property_Name_from_this_sheet__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GA4_Property_Name_from_this_sheet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Account_Shared__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GA_Account_Shared__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Container_Updated_for_GA4__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GTM_Container_Updated_for_GA4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_ID_provided__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GTM_ID_provided__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_on_Site__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.GTM_on_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goals_Inactive_at_Dashboard_Call__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Goals_Inactive_at_Dashboard_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Facebook_Pixel_script_added_to_GT__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Google_Facebook_Pixel_script_added_to_GT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Is_In__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Inventory_Is_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Ordered_Date__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Inventory_Ordered_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Received_Automation__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Inventory_Received_Automation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Form__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Lead_Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mutual_Client_with_VistaDash__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Mutual_Client_with_VistaDash__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Standard_Setup_Notes__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Non_Standard_Setup_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Goals__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Review_Goals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secure_completed_CC_Auth__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Secure_completed_CC_Auth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_CC_Auth__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Send_CC_Auth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Master_ID__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Touchpoint_Master_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vistadash_Conversions_Configuration_GA4__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Vistadash_Conversions_Configuration_GA4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vistadash_Event_Owner_Custom_Dimension_C__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Vistadash_Event_Owner_Custom_Dimension_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Provider__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Website_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_URL__c</field>
            <value>
                <elementReference>Get_onboarding_records_related_to_account.Website_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_onboarding_records_related_to_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
