force-app/main/default/flows/Update_opportunity_from_onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_change_in_onbaording_field_GA4_Build_Complete</name>
        <label>Check for change in onbaording field GA4 Build Complete</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Check_for_change_in_onbaording_field_planned_analysis_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_fields_changed_GA4_Build_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTM_Container_Updated_for_GA4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GTM_Container_Updated_for_GA4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_opp_records_GA4_Build_Complete</targetReference>
            </connector>
            <label>Check if fields changed GA4 Build Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_change_in_onbaording_field_Link_Google_Ads_CID_to_GA4_Property</name>
        <label>Check for change in onbaording field Link Google Ads CID to GA4 Property</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_change_in_onbaording_field_GA4_Build_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_fields_changed_Link_Google_Ads_CID_to_GA4_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secure_Google_Ads_Data_In_GA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secure_Google_Ads_Data_In_GA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_opp_records</targetReference>
            </connector>
            <label>Check if fields changed Link Google Ads CID to GA4 Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_change_in_onbaording_field_planned_analysis_date</name>
        <label>Check for change in onbaording field planned analysis date</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_field_changed_planned_analysis_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Planned_Analysis_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planned_Analysis_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_opp_records_planned_analysis_date</targetReference>
            </connector>
            <label>Check if field changed  planned analysis date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update opportunity from onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update opportunity from onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_related_opp_records</name>
        <label>Update related opp records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_for_change_in_onbaording_field_GA4_Build_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Link_Google_Ads_CID_to_GA4_Property__c</field>
            <value>
                <elementReference>$Record.Secure_Google_Ads_Data_In_GA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp_records_GA4_Build_Complete</name>
        <label>Update related opp records GA4 Build Complete</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_for_change_in_onbaording_field_planned_analysis_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GA4_Build_Complete__c</field>
            <value>
                <elementReference>$Record.GTM_Container_Updated_for_GA4__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_opp_records_planned_analysis_date</name>
        <label>Update related opp records  planned analysis date</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Planned_Analysis_Date__c</field>
            <value>
                <elementReference>$Record.Planned_Analysis_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_change_in_onbaording_field_Link_Google_Ads_CID_to_GA4_Property</targetReference>
        </connector>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
