force-app/main/default/flows/Update_Opportunity_Count_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>totalOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllOppsRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_found_any_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_found_any_record</name>
        <label>If found any records</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Count_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalOpp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Count</targetReference>
            </connector>
            <label>If found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newOppCountNum</name>
        <dataType>Number</dataType>
        <expression>{!totalOpp}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Opportunity Count Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Count Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Opp_related_to_account</name>
        <label>Get all Opp related to account</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AllOppsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Count__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Count</name>
        <label>Update Opp Count</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count__c</field>
            <value>
                <elementReference>newOppCountNum</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Count_1</name>
        <label>Update Opp Count 1</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Opp_related_to_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCM</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllOppsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>totalOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
