force-app/main/default/flows/Update_Account_s_Parent_account_Status_field_For_existing_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_all_opp</name>
        <label>Assign all opp</label>
        <locationX>4714</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>OpprecordforNCM20</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_related_opp_records_for_NCM_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_accounts_for_NCM_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_get_records_to_colletion</name>
        <label>Assign get records to colletion</label>
        <locationX>1018</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Opprecordsfordigitalad</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_related_opp_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_records_to_get_related_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_get_records_to_colletion</name>
        <label>Assign get records to collection</label>
        <locationX>2558</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>OpprecordsforBI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Get_related_opp_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_records_to_get_related_opp_for_BI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Count_child_account_status_lost</name>
        <label>Count child account status = lost</label>
        <locationX>4538</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>CountoflostoppforNCM20</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_opps_for_NCM_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Total_Child_account</name>
        <label>Total Child account</label>
        <locationX>2470</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>TotaloppsforBI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OpprecordsforBI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_accounts_for_BI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_child_account_status_lost</name>
        <label>Count child account status = lost</label>
        <locationX>1018</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Countoflostoppfordigitalad</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_opp_stage_status_lost</name>
        <label>Count opp stage status = lost</label>
        <locationX>2558</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>CountoflostoppforBI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_child_accounts_for_BI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_opp</name>
        <label>Total opp</label>
        <locationX>930</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Totaloppsfordigitalad</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Opprecordsfordigitalad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Totalchildaccount_for_NCM20</name>
        <label>Total child account for NCM20</label>
        <locationX>4450</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>TotaloppsforNCM20</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OpprecordforNCM20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_opps_for_NCM_20</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_all_opp_stage_is_lost</name>
        <label>Check all opp stage is lost</label>
        <locationX>930</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totaloppsfordigitalad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Countoflostoppfordigitalad</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_digital_ad_parent_account_status_as_lost</targetReference>
            </connector>
            <label>IF yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_all_opp_stage_lost</name>
        <label>Check all opp stage = lost</label>
        <locationX>4450</locationX>
        <locationY>1884</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IF_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotaloppsforNCM20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountoflostoppforNCM20</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NCM_20_parent_account_for_lost</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_all_opps_stage_lost</name>
        <label>Check all opps stage = lost</label>
        <locationX>2470</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotaloppsforBI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountoflostoppforBI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BI_parent_account_status_as_lost</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_account_type</name>
        <label>Check for account type</label>
        <locationX>2899</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Digital_Ad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Advertising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parent_account_Dealer_group_for_digital_ad</targetReference>
            </connector>
            <label>If Digital Ad</label>
        </rules>
        <rules>
            <name>If_BI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Intelligence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parent_account_Dealer_group_for_BI</targetReference>
            </connector>
            <label>If BI</label>
        </rules>
        <rules>
            <name>If_NCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parent_accounts_NCM_20_group</targetReference>
            </connector>
            <label>If NCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_parent_account_status</name>
        <label>Check for parent account status</label>
        <locationX>3702</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Parent_records_for_onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Parent_records_for_onboarding.NCM_20_Parent_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_for_onboarding</targetReference>
            </connector>
            <label>If not Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_lost</name>
        <label>Check lost</label>
        <locationX>1150</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_child_account_status_lost</targetReference>
            </connector>
            <label>If lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>688</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Onbaording</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_account_Dealer_group_for_digital_ad.Dig_Ad_Parent_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_record_for_onboarding</targetReference>
            </connector>
            <label>Status = Onbaording</label>
        </rules>
        <rules>
            <name>Status_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_record_for_Live</targetReference>
            </connector>
            <label>Status = Live</label>
        </rules>
        <rules>
            <name>Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Child_account_related_to_parent_account</targetReference>
            </connector>
            <label>Status = Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status1</name>
        <label>Check status</label>
        <locationX>4164</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Onbaording1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Parent_records_for_onboarding</targetReference>
            </connector>
            <label>Status = Onbaording</label>
        </rules>
        <rules>
            <name>Copy_1_of_Status_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Parent_records_for_Live</targetReference>
            </connector>
            <label>Status = Live</label>
        </rules>
        <rules>
            <name>Copy_1_of_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_parent_account_NCM_20_group</targetReference>
            </connector>
            <label>Status = Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_lost</name>
        <label>Check lost</label>
        <locationX>4670</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_opps_for_NCM_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_opps_for_NCM_20.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Count_child_account_status_lost</targetReference>
            </connector>
            <label>If lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_status</name>
        <label>Check status</label>
        <locationX>2228</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Status_Onbaording</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_account_Dealer_group_for_BI.BI_Parent_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_record_for_onboarding1</targetReference>
            </connector>
            <label>Status = Onbaording</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_Live</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Account_record_for_Live</targetReference>
            </connector>
            <label>Status = Live</label>
        </rules>
        <rules>
            <name>Copy_2_of_Status_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Child_account_related_to_parent_account_for_BI</targetReference>
            </connector>
            <label>Status = Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_lost</name>
        <label>Check lost</label>
        <locationX>2690</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Loop_through_child_accounts_for_BI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_child_accounts_for_BI.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_opp_stage_status_lost</targetReference>
            </connector>
            <label>If lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Account&apos;s Parent account Status field-(For existing record) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account&apos;s Parent account Status field-(For existing record)</label>
    <loops>
        <name>Loop_through_all_accounts_for_NCM_20</name>
        <label>Loop through all accounts for NCM 20</label>
        <locationX>4626</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Parent_account_s_sub_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_related_opp_records_for_NCM_20</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_parent_account_NCM_20_group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_opps</name>
        <label>Loop through all opps</label>
        <locationX>930</locationX>
        <locationY>1200</locationY>
        <collectionReference>Opprecordsfordigitalad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_all_opp_stage_is_lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_opps_for_NCM_20</name>
        <label>Loop through all opps for NCM 20</label>
        <locationX>4450</locationX>
        <locationY>1392</locationY>
        <collectionReference>OpprecordforNCM20</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_all_opp_stage_lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_child_accounts_for_BI</name>
        <label>Loop through child accounts for BI</label>
        <locationX>2470</locationX>
        <locationY>1200</locationY>
        <collectionReference>OpprecordsforBI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Check_lost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_all_opps_stage_lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_child_records_to_get_related_opp</name>
        <label>Loop through child records to get related opp</label>
        <locationX>930</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_all_Child_account_related_to_parent_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_related_opp_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_child_records_to_get_related_opp_for_BI</name>
        <label>Loop through child records to get related opp for BI</label>
        <locationX>2470</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_all_Child_account_related_to_parent_account_for_BI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_related_opp_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Total_Child_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_parent_account_NCM_20_group</name>
        <label>Loop through parent account-NCM 20 group</label>
        <locationX>4450</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_parent_accounts_NCM_20_group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_account_s_sub_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Totalchildaccount_for_NCM20</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Parent_records_for_Live</name>
        <label>Loop through Parent records for Live</label>
        <locationX>3834</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_parent_accounts_NCM_20_group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_record_for_Live</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_Parent_records_for_onboarding</name>
        <label>Loop through Parent records for onboarding</label>
        <locationX>3482</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_parent_accounts_NCM_20_group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_parent_account_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_related_opp_record</name>
        <label>Get related opp record for BI</label>
        <locationX>2558</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_get_records_to_colletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_child_records_to_get_related_opp_for_BI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Child_account_related_to_parent_account</name>
        <label>Get all Child account related to parent account</label>
        <locationX>930</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_child_records_to_get_related_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_account_Dealer_group_for_digital_ad.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Child_account_related_to_parent_account_for_BI</name>
        <label>Get all Child account related to parent account for BI</label>
        <locationX>2470</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_child_records_to_get_related_opp_for_BI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_parent_account_Dealer_group_for_BI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_account_Dealer_group_for_BI</name>
        <label>Get parent account-Dealer group for BI</label>
        <locationX>2228</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_account_Dealer_group_for_digital_ad</name>
        <label>Get parent account-Dealer group for digital ad</label>
        <locationX>688</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_account_s_sub_account</name>
        <label>Get Parent account&apos;s sub account</label>
        <locationX>4626</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_accounts_for_NCM_20</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Sub_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_parent_account_NCM_20_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCM_20_Group_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_parent_account_NCM_20_group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCM_Management_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_parent_account_NCM_20_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NCM_20_Parent_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_accounts_NCM_20_group</name>
        <label>Get parent accounts-NCM 20 group</label>
        <locationX>4164</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_status1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Sub_Parent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.NCM_20_Group_2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.NCM_Management_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_opp_record</name>
        <label>Get related opp record</label>
        <locationX>1018</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_get_records_to_colletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_child_records_to_get_related_opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_opp_records_for_NCM_20</name>
        <label>Get related opp records for NCM 20</label>
        <locationX>4714</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_all_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_accounts_for_NCM_20.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Account_record_for_Live</name>
        <label>Update Account record for Live</label>
        <locationX>1854</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Parent_Status__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_record_for_Live</name>
        <label>Update Account record for Live</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dig_Ad_Parent_Status__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_record_for_onboarding</name>
        <label>Update Account record for onboarding</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dig_Ad_Parent_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_record_for_onboarding1</name>
        <label>Update Account record for onboarding</label>
        <locationX>1590</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Parent_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BI_parent_account_status_as_lost</name>
        <label>Update BI parent account status as lost</label>
        <locationX>2338</locationX>
        <locationY>1800</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Parent_Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_digital_ad_parent_account_status_as_lost</name>
        <label>Update digital ad parent account status as lost</label>
        <locationX>798</locationX>
        <locationY>1800</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dig_Ad_Parent_Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NCM_20_parent_account_for_lost</name>
        <label>Update NCM 20 parent account for lost</label>
        <locationX>4318</locationX>
        <locationY>1992</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Sub_Parent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.NCM_20_Group_2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.NCM_Management_Group__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NCM_20_Parent_Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_for_Live</name>
        <label>Update record for Live</label>
        <locationX>3922</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Loop_through_Parent_records_for_Live</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Parent_records_for_Live.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NCM_20_Parent_Status__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_for_onboarding</name>
        <label>Update record for onboarding</label>
        <locationX>3570</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Loop_through_Parent_records_for_onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Parent_records_for_onboarding.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NCM_20_Parent_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2773</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_account_type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-02-05</startDate>
            <startTime>20:09:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountoflostoppforBI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Countoflostoppfordigitalad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountoflostoppforNCM20</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpprecordforNCM20</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpprecordsforBI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opprecordsfordigitalad</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotaloppsforBI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Totaloppsfordigitalad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotaloppsforNCM20</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
