force-app/main/default/flows/Update_Onboarding_Product_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_product_fields_on_Onboarding</name>
        <label>Assign Values to product fields on Onboarding</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_all_Onboarding.Profit_Center_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profit_center_new__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_all_Onboarding.Profit_Center_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profit_center_used__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_all_Onboarding.Profit_Center_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profit_center_service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_all_Onboarding.Opportunity_Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OnboardingList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_Onboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_all_Onboarding.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_Onboarding</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Onboarding Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deprecated Update Onboarding Product fields</label>
    <loops>
        <name>Loop_over_all_Onboarding</name>
        <label>Loop over all Onboarding</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Onbording_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_product_fields_on_Onboarding</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Onboarding_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onbording_Records</name>
        <label>Get Onbording Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_Onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Records</name>
        <label>Update Onboarding Records</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>OnboardingList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onbording_Records</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>OnboardingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
</Flow>
